# Ignorar ambiente virtual
.venv/
venv/
back/venv/

# Ignorar cache do Python
__pycache__/
**/__pycache__/**
*.pyc
*.pyo
*.pyd

# Ignorar arquivos temporários
*.log
*.env
back/.env
back/uploads/
back/uploads/**
